.deal-wrap {
  height: calc(100% - 20px - 33px);
}
.data-msg {
  width: 100%;
  text-align: right;
  line-height: 40px;
  .color-blue {
    color: "#91caff";
  }
}

.deal-stage-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  .deal-stage {
    display: flex;
    height: auto;
    min-height: 100%;
  }
}
.deal-stage-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  height: auto;
  word-break: break-all;
  min-width: 0px;
  // 拖拽最外容器
  .deal-main {
    height: 100%;
  }

  .data-msg {
    width: 100%;
    text-align: right;
    line-height: 40px;
    .blue {
      color: "#91caff";
    }
  }
}
